@import '../../scss/shared.scss';

.list-item {
    position: relative;
    display: block;
    width: 100%;
    min-height: 65px;
    padding: 0px 15px;

    color: #fff;
    border-top: 1px solid #333;

    font-size: 22px;
    line-height: 65px;

    transition: 250ms;

    &.expanded {
        height: auto;
    }

    .details {
        .description {
            font-size: 16px;
            line-height: 22px;
            padding-bottom: 25px;
        }
    }

    .indicator {
        position: absolute;
        top: 0px; right: 15px;
    }
}